---
layout: default
---

<div class="posts">

  <h1>tutorials, articles and development</h1>

  {% for post in paginator.posts %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.excerpt }}
  </div>
  {% endfor %}
</div>

<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->


<div class="works">
  <h2 class="section-title">Work / Projects</h2>

  <div class="work">
    <img src="{{ site.url }}/public/imgs/works/radiocrianca.jpg" width="360" height="220">
    <h2>Rádio Criança</h2>
    <p>Texto para a rádio criança</p>
    <p>Você pode acompanhar o <a href="#">projeto</a>.</p>
  </div>
  <div class="work">
    <img src="{{ site.url }}/public/imgs/works/econis.jpg" width="360" height="220">
    <h2>Éconis Calçados</h2>
    <p>Texto para a rádio criança</p>
    <p>Você pode acompanhar o <a href="#">projeto</a>.</p>
  </div>
  <div class="work">
    <img src="{{ site.url }}/public/imgs/works/encantos.jpg" width="360" height="220">
    <h2>Encantos do Litoral</h2>
    <p>Texto para a rádio criança</p>
    <p>Você pode acompanhar o <a href="#">projeto</a>.</p>
  </div>    
</div>